<div id="reaction-container-<%= journal.id %>">
  <%= render partial: 'share/journal_reactions', locals: { journal: journal } %>
</div>

<script>
var createButton = '<div id="journal-<%= journal.id %>-reaction-container" class="icon-reaction"><div title="Reaction" id="journal-<%= journal.id %>-reaction" class="hidden-picker"></div></div>'
$("div#journal-<%= journal.id %>-notes div.contextual").prepend(createButton);
</script>

